#body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 95vh;
}

#main-container {
  text-align: center;
  display: flex;
  width: 100vw;
}

#post-list {
  width: 60vw;
}

#side-bar {
  width: 40vw;
  border-right: 5px solid black;
}